*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:.2s linear;
}


.layout {
   display: grid;
    grid:
      "sidebar body body2" 1fr
      / 20% 50% 30%;

  }
  
  .sidebar { grid-area: sidebar; }
  .body { grid-area: body; }
  .body2 { grid-area: body2; }