*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    border: 0;
    text-decoration: none;
}

.add-link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    min-width: fit-content;
    height: 50px;
    border-radius: 20px;
    background-color: #00ffd5;
}

.add-link-btn span {
    font-weight: bold;
}

.form-control {
    padding: 0;
    border-radius: 0;
}

.color-container {
    display: flex;
    align-items: center;
}

/* https://www.youtube.com/watch?v=9Ds6dzhda0c */
#cor-btn, #cor-txt-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#cor-btn::-webkit-color-swatch {
    border-radius: 15px 0 0 15px;
    border: 1px solid grey;
}
#cor-btn::-moz-color-swatch {
    border-radius: 15px 0 0 15px;
    border: 1px solid grey;
}

#cor-txt-btn::-webkit-color-swatch {
    border-radius: 15px 0 0 15px;
    border: 1px solid grey;
}
#cor-txt-btn::-moz-color-swatch {
    border-radius: 15px 0 0 15px;
    border: 1px solid grey;
}

#hexValue-1, #hexValue-2 {
    text-align: center;
    border-radius: 0 15px 15px 0;
    border: 1px solid grey;
    border-left: none;
    height: 60px;
    width: 100px;
}

/* form {
    display: flex;
    justify-content: space-evenly;
} */

/* form div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 250px;
    padding: 7px 10px;
    border-radius: 10px;
    background-color:  #00ffd5;
} */

/* form .input-cor-link {
    display: flex;
    align-items: center;
    justify-content: center;
} */