*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    border: 0;
    text-decoration: none;
}

.add-link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    min-width: fit-content;
    height: 50px;
    border-radius: 20px;
    background-color: #00ffd5;
}

.add-link-btn span {
    font-weight: bold;
}

.form-control {
    padding: 0;
    border-radius: 0;
}

.color-container {
    display: flex;
    align-items: center;
}

.cor-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 26px;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}
#cor-btn {
    border: 0;
    height: 50px;
    width: 70px;
}


/* form {
    display: flex;
    justify-content: space-evenly;
} */

/* form div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 250px;
    padding: 7px 10px;
    border-radius: 10px;
    background-color:  #00ffd5;
} */

/* form .input-cor-link {
    display: flex;
    align-items: center;
    justify-content: center;
} */