@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    border: 0;
    text-decoration: none;
}

body {
    background-color: #dfdfdf;
}

/* LOGO - digital Menu */
.logo {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: 32px;
    padding: 0;
    color: white;
}

/* MENU - itens NAVBAR */
.menu .item {
    position: relative;
}

.menu .item span {
    display: block;
    color: #B0B0B0;
    font-size: 16px;
    padding: 5px 0;
    line-height: 40px;
}

.menu .item a {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px 30px;
    border-radius: 5px;
    line-height: 40px;
    text-decoration: none;
}

.menu .item a:hover {
    background: #0482FB;
    transition: 0.3s ease;
}

.menu .item .icon {
    margin-right: 10px;
    align-items: center;
}

.menu .item .sub-menu a {
    padding-left: 10px;
}

.logout:hover {
    background-color: red;
}

/* IFRAME */
.div-4-col-2 {
    height: 100%;
}

.div-3-col-2 {
    transform: scale(0.9) translateX(-50%); /* translateY(-50%) translate3d(0px, 0px, 0px) */
    /* width: 352px; */
    height: 724px;
    /* padding-top: 3.5rem; */
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: top left;

}

/* PREVIEW - BTN */
.preview-btn {
    position: fixed;
    margin-bottom: 1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    visibility: hidden;
}
.preview-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 5px;
    padding: 0.75rem;

    background-color: #0D6EFD;
    color: white;
}
.preview-btn button:hover {
    background-color: #0066ff;
    transform: scale(1.1);
}

@media only screen and (max-width: 1366px) {
    .div-3-col-2 {
        transform: scale(0.7) translateX(-50%); /* translateY(-50%) translate3d(0px, 0px, 0px) */
    }
}
@media only screen and (max-width: 800px) {
    #iframe-div {
        display: none!important;
    }
    #section-main {
        justify-content: center;
    }
    #preview-btn {
        visibility: visible;
    }
}

@media only screen and (max-height: 768px) {
    .div-3-col-2 {
        transform: scale(0.7) translateX(-50%); /* translateY(-50%) translate3d(0px, 0px, 0px) */
    }
}
@media only screen and (max-height: 650px) {
    .div-3-col-2 {
        transform: scale(0.5) translateX(-50%); /* translateY(-50%) translate3d(0px, 0px, 0px) */
    }
}
